 /* ___ Common Styles___ */
 body {
    font-family: 'Poppins', sans-serif;
}

 /* ___First Section Styles___ */
.first-heading {
    margin-left: 109px;
    color:#3A3A3A;
}
.details {
    display: flex;
    margin: 50px 70px;
    color:#3A3A3A;
}
.introduction {
    padding: 35px;
}
.heading {
    font-size: 55px;
}
.link-button {
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10px 30px;
    color: cornsilk;
    font-weight:600;
    border-radius: 20px;
}
.camera {
    background-image:url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 440px;
    height: 414px;
    padding-left: 2px;
    padding-bottom: 11px;
    background-size: 425px;
}


